# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore bin directory which might be created by VSCode or Intellij
bin

**/.DS_Store
plugin/src/test/resources/sample-gwt-project/gradle
plugin/src/test/resources/sample-gwt-project/gradlew
plugin/src/test/resources/sample-gwt-project/gradlew.bat
/doc/javadoc/
